.ICEauthority
.Xauthority
.cache/
.cinnamon/glass.log
.cinnamon/glass.log.last
.config/chromium/
.config/dconf/user
.config/pulse/
.config/sublime-text-3/Cache/
.config/sublime-text-3/Local/
.dbus/
.dotfiles/
.local/share/gvfs-metadata/
.local/share/icc/
.local/share/keyrings/
.local/share/tracker/
.oh-my-zsh/
.pki/
.ssh/
.tilda/locks/
.viminfo
.xsession-errors
.xsession-errors.old
.zcompdump
.zcompdump-gentoo-5.5
.zsh-update
.zsh_history
bin/
